# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore sites configuration
sites/sites.php

# Ignore devel & search_krumo
sites/*/modules/contrib/devel
sites/*/modules/contrib/search_krumo
